{% extends 'base.html' %}
{% block content %}

<h1>bass wishlist</h1>
<!-- This 'basses' is coming from the dict we passed through in the basses_index fn in views -->
<!-- Use DTL (Django Template Language), not a python for loop -->
{% for bass in basses %}
    <a href="{% url 'bass_details' bass.id %}">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ bass.make }} {{bass.model }}</span>
                <p>Color: {{ bass.color }}</p>
                <p>Scale: {{ bass.scale }}</p>
                <p>Material: {{ bass.construction | linebreaks}}</p>
            </div>
        </div>
    </a>
{% endfor %}

{% endblock %}